.wrapper
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  .item
    background-color: #becc3c
    height: 20rem
    width: 20rem
    border-radius: 2rem
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
